body {
	position: relative;
	background-color: #f1eee3;
    margin: 0px;
	padding: 0px;
    width: fit-content;
    min-width: 100%; /* because the content might only be a few words */
    box-sizing: border-box;
}

/* Navigation Items */

.upper-nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	width: 100%;
    z-index: 3;
}

.lower-nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	bottom: 0px;
	width: 100%;
}


.padded-item {
	padding: 35px 40px 40px 40px;
}

#quote {
	padding-top: 12%;
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3em;
  line-height: 1.25em;
  color: #2d1f10;
  /*margin-left: -4%;*/
  padding-right: 50px;
}



 /* Container */

.container {
	width:100%;
	margin-right:auto;
	margin-left:auto;
}

.margined {
  margin-left: 152px;
}


/*Grid*/

.row {
  background-color: #2d1f10;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.column {
  flex: 30%;
  max-width: 30%;
}

.column img {
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

.column div {
  position: relative;
  z-index: 1;
}

h4 {
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #f1eee2;
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0;
  transition: opacity 0.9s;
}

.column p {
  font-family: freight-micro-pro, serif;
  font-weight: 600;
  font-style: italic;
  color: #e2a225;
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  transition: opacity 0.9s;
}

.column div:hover p, .column div:hover h4 {
  opacity: 1;
}

.column div:hover img {
  opacity: 0.2;
}


/*Fonts and Colors*/

.ital {
  font-family: freight-micro-pro, serif;
  font-weight: 600;
  font-style: italic;
}

.dark {
  background-color: #2d1f10;
}

.nav-font {
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.7em;
}

.nav-small-font {
  font-size: 1em;
}

#name {
  color: #e2a225;
}

#name:hover:not(.active) {
  color: #2d1f10;
}


.no-decor {
  text-decoration: none;
}

.nav-red {
  color: #ef4823;
}

.nav-red:hover:not(.active) {
  color: #e2a225;
}



/*About*/

#about {
  max-height: 100vh;
}

#headshot {
  position: absolute;
  margin-left: 10%;
  margin-right: 55%;
  margin-top: 7%;
}

#bio {
  position: absolute;
  max-width: 45%;margin-left: 47%;
  margin-top: 7%;
}

#bio p {
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25em;
  line-height: 1.7em;
  color: #2d1f10;
}

#bio blockquote {
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3em;
  color: #e2a225;
  position: absolute;
  right: 0;
  margin: 0;
  padding-top: 8%;
}

#pdfs {
  font-family: freight-micro-pro, serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1em;
  position: absolute;
  margin-top: 35%;
    
}

#pdfs a {
  text-decoration: none;
  color: #e2a225;
}

#pdfs a:hover:not(.active) {
  color: #ef4823;
}

.slash {
  color: #2d1f10;
}


/*Media Queries*/

@media(max-width:576px) {
    #headshot {
      display: none;
    }

    #bio {
      margin-left: 33%;
      margin-top: 7%;
    }

/*    #quote {
      margin: 40px;
    }*/
}

@media(max-width: 670px) {
    #bio blockquote {
      position: unset;
    }
    #quote {
      margin: 40px;
    }


    .margined {
      margin: auto;
    }


}

@media (min-width:576px) {
	.container {
      max-width:540px
	}
}

@media (min-width:768px) {
	.container {
		max-width:720px
	}
    #quote {
/*    font-size: 2.4em;*/
/*    padding-right: 20px;*/
/*    padding-left: 30px;*/
  }

}

@media (min-width:992px) {
	.container { 
		max-width:960px
	}
/*  #quote {
    font-size: 2.6em;
    padding-right: 50px;
    padding-left: 30px;
  }*/
}

@media only screen and (max-width: 872px) and (min-width: 768px)  {
  #quote {
    padding-right: 130px;
  }
}

@media (min-width:1200px) {
	.container {
		max-width:1140px
	 }
/*     #quote {
    font-size: 3em;
    padding-right: 50px;
    padding-left: 50px;
  }*/
}
